div{
    
}
.temp{grid-area: temp;}
.stored{grid-area:stored;}
.keyboard{grid-area:keyboard;}
.un     {grid-area:un;}
.deux   {grid-area:deux;}
.trois  {grid-area:trois;}
.quatre {grid-area:quatre;}
.cinq   {grid-area:cinq;}
.six    {grid-area:six;}
.sept   {grid-area:sept;}
.huit   {grid-area:huit;}
.neuf   {grid-area:neuf;}
.zero   {grid-area:zero;}
.dot    {grid-area:dot;}
.divide {grid-area: divide;}
.plus   {grid-area: plus;}
.minus  {grid-area: minus;}
.enter  {grid-area: enter;}
.multiply{grid-area: multiply;}
.verrnum{grid-area:verrnum;}

.calculator{
    display: grid;
    background-color: grey;
    grid-template-areas:
    'stored'
    'temp'

    'keyboard'
;
    width: 500px;
}

.temp{
    height: 150px;
    font-size: 50px;
    background-color: rgb(190, 190, 190);

}
.stored{
    height: 150px;
}

.keyboard{
    display:grid;
    background-color: rgb(2, 2, 88);
    grid-template-areas:
    'verrnum divide multiply minus'
    'sept huit neuf plus'
    'quatre cinq six plus'
    'un deux trois enter'
    'zero zero dot enter';
    grid-template-columns: 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;

    gap:2px;
    padding: 2px;
    
}
.keyboard>div{
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: 2%;
    
}

.input{
    background-color: rgb(51, 166, 211);

}

.pressed{
    background-color: rgb(65, 201, 255);
}