@font-face {
    font-family: 'ibm_plex_monoregular';
    src: url('./fonts/ibmplexmono-regular-webfont.woff2') format('woff2'),
    url('./fonts/ibmplexmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}
body{
    font-family: 'ibm_plex_monoregular';
    background-image: url(textures/oak-3275-mm-architextures.jpg);
}

.temp{grid-area: temp;}
.stored{grid-area:stored;}
.keyboard{grid-area:keyboard;}
.un     {grid-area:un;}
.deux   {grid-area:deux;}
.trois  {grid-area:trois;}
.quatre {grid-area:quatre;}
.cinq   {grid-area:cinq;}
.six    {grid-area:six;}
.sept   {grid-area:sept;}
.huit   {grid-area:huit;}
.neuf   {grid-area:neuf;}
.zero   {grid-area:zero;}
.dot    {grid-area:dot;}
.divide {grid-area: divide;}
.plus   {grid-area: plus;}
.minus  {grid-area: minus;}
.enter  {grid-area: enter;}
.multiply{grid-area: multiply;}
.backspace{grid-area:backspace;}

.calculator{
    border-radius: 1%;
    padding: 2%;
    border: 1px solid black;
    display: grid;
    background-color: rgb(161, 161, 161);
    background-image: url(textures/stainless-steel-2500-mm-architextures.jpg);
    grid-template-areas:
    'stored'
    'temp'
    'keyboard'
    ;
    
}


.temp, .stored{
    width: inherit;
    border: 3px solid grey;
    line-height: 1;
    overflow: visible;
    overflow-wrap: break-word;
    
}


.stored{
    font-size: 300%;
    background-color: rgb(105, 133, 117);
}
.temp{
    font-size: 500%;
    background-color: rgb(146, 204, 171);
}

.keyboard{
    display:grid;
    grid-template-areas:
    'backspace divide multiply minus'
    'sept huit neuf plus'
    'quatre cinq six plus'
    'un deux trois enter'
    'zero zero dot enter';
    
    padding: 2px;
    
}
.keyboard>button{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    font-size: 225%;
}

.figure{
    background-color: rgb(35, 117, 150);
    color: black;
        color: white;
}

.operator{
    background-color: rgb(42, 137, 175);
        color: white;
}

.pressed{
    background-color: rgb(65, 201, 255);
    color: black;
}


@media screen and (max-width: 800px){
    
    .calculator{
        width: 250px;
    }
    .stored{
        height: 50px;
        font-size: 150%;
    }
    .temp{
        height: 75px;
        font-size: 225%;
    }
    .keyboard{
        grid-template-columns: 50px;
        grid-template-rows: 50px 50px 50px 50px 50px;
        gap:5px;
        font-size:60%;
    }

}

@media screen and (min-width: 800px){
    .calculator{
        width: 500px;
    }
    .stored{
        height: 100px;
    }
    .temp{
        height: 150px;
    }
    
    .keyboard{
        grid-template-columns: 100px;
        grid-template-rows: 100px 100px 100px 100px 100px;
        
        gap:5px;
    }
}